/*
CSS File
*/

body {
    background-color: #f5f5f5;
    margin: 0px;
}

main {
    margin: auto;
    max-width: 1200px;
    height: 100%;
    padding: 20px;
}

#canvas-wrapper {
    clear: both;
    width: 800px;
    margin: auto;
    padding: 20px 0px;
}

table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    width: 1000px;
}


#votes div{
    text-align: center;
    border-radius: 25px;
    padding: 10px 20px;
}

#dem-votes {
    border: 2px solid #244999;
    background-color: #acc0ec;
}

#rep-votes {
    border: 2px solid #e50a00;
    background-color: #ff9e99;
}

.change-loss {
    color: red;
}

.change-gain {
    color: green;
}

.change-none {
    color: black;
}
  
table, th, td {
    border: 1px solid black;
}

td, th {
    padding: 10px;
}

.rep {
    color: #e50a00;
}

.dem {
    color: #244999;
}

button.dem{
    color: default;
}

#dem-votes {
    float: left;
}

#rep-votes {
    float: right;
}

#states {
    height: 600px;
    overflow: scroll;
}
